.root {
  &:hover {
    @mixin light {
      background-color: var(--mantine-color-gray-0);
    }
    @mixin dark {
      background-color: var(--mantine-color-dark-6);
    }
  }
}

.emptyState {
  @mixin light {
    color: var(--mantine-color-gray-6);
  }
  @mixin dark {
    color: var(--mantine-color-dark-2);
  }
}
